@charset "UTF-8";

/*.zen-maru-gothic-medium {*/
/*  font-family: "Zen Maru Gothic", serif;*/
/*  font-weight: 500;*/
/*  font-style: normal;*/
/*}*/

/*.zen-maru-gothic-bold {*/
/*  font-family: "Zen Maru Gothic", serif;*/
/*  font-weight: 700;*/
/*  font-style: normal;*/
/*}*/

/*.zen-maru-gothic-regular {*/
/*  font-family: "Zen Maru Gothic", serif;*/
/*  font-weight: 400;*/
/*  font-style: normal;*/
/*}*/

/*背景 #F7F4AC*/
/*buttonメイン #FF8616*/
/*buttonサブ #FF6A16*/
/*top #9FE446*/
/*topサブ #74BB2C*/

body {
	height: 500px;
	width: auto;
	text-align: center;
	margin: 50px auto;
	background-color: #F7F4AC;
	}
	
header {
	text-align: left;
	margin-left: 10%;
}

header a {
	text-decoration: none;
	font-family: "Zen Maru Gothic", serif;
	font-weight: 500;
	font-style: normal;
	color: #FFF;
}

#top {
	background-color: #9FE446;
	color: #FFF;
	font-family: "Zen Maru Gothic", serif;
	font-weight: 500;
}

#top:hover {
	background-color: #74BB2C;
}

button {
	background-color: #FF8616;
	padding: 10px 45px;
	text-align: center;
	display: inline-block;
	border : none;
	border-radius: 30px;
	font-size: 18px;
	transition: .2s;
}

button:hover {
	background-color: #FF6A16;
	transform: scale(0.9,0.9);
}
	
h1 {
	font-family: "Zen Maru Gothic", serif;
	font-weight: 700;
	font-style: normal;
	font-size: 50px;
}

p {
	font-family: "Zen Maru Gothic", serif;
	font-weight: 500;
	font-style: normal;
	font-size: 20px;
}

.bun {
	color: rgb(69, 69, 69);
}

.content {
	font-weight: bold;
}

.form {
	display: inline-flex;
}

input {
	font-family: "Zen Maru Gothic", serif;
	font-weight: 500;
	font-style: normal;
}

.button {
	background-color: #FF8616;
	padding: 10px 45px;
	text-align: center;
	display: inline-block;
	margin: 30px 10px;
	border : none;
	border-radius: 30px;
	font-size: 18px;
	transition: .2s;
	text-decoration: none;
	color: #FFF;
}

.button:hover {
	background-color: #FF6A16;
	transform: scale(0.9,0.9);
}
