@charset "UTF-8";

/*.zen-maru-gothic-medium {*/
/*  font-family: "Zen Maru Gothic", serif;*/
/*  font-weight: 500;*/
/*  font-style: normal;*/
/*}*/

/*.zen-maru-gothic-bold {*/
/*  font-family: "Zen Maru Gothic", serif;*/
/*  font-weight: 700;*/
/*  font-style: normal;*/
/*}*/

/*.zen-maru-gothic-regular {*/
/*  font-family: "Zen Maru Gothic", serif;*/
/*  font-weight: 400;*/
/*  font-style: normal;*/
/*}*/

body {
	height: 500px;
	width: auto;
	text-align: center;
	margin: 50px auto;
	background-color: rgb(247, 244, 172);
	}
	
header {
	text-align: left;
	margin-left: 10%;
}

#top {
	background-color: rgb(128, 255, 255);
	color: #000;
	font-family: "Zen Maru Gothic", serif;
	font-weight: 500;
}

button {
	background-color: #4CAF50;
	padding: 10px 45px;
	text-align: center;
	display: inline-block;
	border : none;
	border-radius: 30px;
	font-size: 18px;
	transition: .2s;
}
	
h1 {
	font-family: "Zen Maru Gothic", serif;
	font-weight: 700;
	font-style: normal;
	font-size: 50px;
}

p {
	font-family: "Zen Maru Gothic", serif;
	font-weight: 500;
	font-style: normal;
}

input {
	font-family: "Zen Maru Gothic", serif;
	font-weight: 500;
	font-style: normal;
}

.button {
	background-color: #4CAF50;
	padding: 10px 45px;
	text-align: center;
	display: inline-block;
	margin: 30px 10px;
	border : none;
	border-radius: 30px;
	font-size: 18px;
	transition: .2s;
}

.button:hover {
	background-color: #f9876f;
	transform: scale(1.1,1.1);
}
