@charset "UTF-8";

/*.zen-maru-gothic-medium {*/
/*  font-family: "Zen Maru Gothic", serif;*/
/*  font-weight: 500;*/
/*  font-style: normal;*/
/*}*/

/*.zen-maru-gothic-bold {*/
/*  font-family: "Zen Maru Gothic", serif;*/
/*  font-weight: 700;*/
/*  font-style: normal;*/
/*}*/

/*.zen-maru-gothic-regular {*/
/*  font-family: "Zen Maru Gothic", serif;*/
/*  font-weight: 400;*/
/*  font-style: normal;*/
/*}*/

/*背景 #F7F4AC*/
/*buttonメイン #FF8616*/
/*buttonサブ #FF6A16*/
/*top #9FE446*/
/*topサブ #74BB2C*/

body {
	height: 500px;
	width: auto;
	text-align: center;
	margin: 100px auto;
	background-color: #F7F4AC;
	}

h1 {
	font-family: "Zen Maru Gothic", serif;
	font-weight: 700;
	font-style: normal;
	font-size: 100px;
}

a {
	text-decoration: none;
	margin : 100px;
	font-size: 25px;
	color: #FFF;
	font-family: "Zen Maru Gothic", serif;
	font-weight: 500;
	font-style: normal;
}

button {
	background-color: #FF8616;
	padding: 15px 10px;
	text-align: center;
	display: inline-block;
	margin: 30px 20px;
	border : none;
	border-radius: 50px;
	transition: .2s;
}

button:hover {
	background-color: #FF6A16;
	transform: scale(0.9,0.9);
}


