@charset "UTF-8";

/*.zen-maru-gothic-medium {*/
/*  font-family: "Zen Maru Gothic", serif;*/
/*  font-weight: 500;*/
/*  font-style: normal;*/
/*}*/

/*.zen-maru-gothic-bold {*/
/*  font-family: "Zen Maru Gothic", serif;*/
/*  font-weight: 700;*/
/*  font-style: normal;*/
/*}*/

/*.zen-maru-gothic-regular {*/
/*  font-family: "Zen Maru Gothic", serif;*/
/*  font-weight: 400;*/
/*  font-style: normal;*/
/*}*/


body {
	height: 960px;
	width: auto;
	text-align: center;
	margin: 50px auto;
	background-color: rgb(247, 244, 172);
	}

header {
	text-align: left;
	margin-left: 10%;
}

header a {
	text-decoration: none;
	font-family: "Zen Maru Gothic", serif;
	font-weight: 500;
	font-style: normal;
	color: #000;
}

#top {
	background-color: rgb(128, 255, 255);
	color: #000;
	font-family: "Zen Maru Gothic", serif;
	font-weight: 500;
}
	
h1 {
	font-family: "Zen Maru Gothic", serif;
	font-weight: 700;
	font-style: normal;
	font-size: 50px;
}

table {
	margin: 0 auto;
	color: #000;
	font-family: "Zen Maru Gothic", serif;
	font-weight: 500;
}

#hyou {
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
	padding: 10px 30px;
}

input {
	background-color: #4CAF50;
	padding: 8px 30px;
	text-align: center;
	display: inline-block;
	margin: 10px 10px;
	border : none;
	border-radius: 30px;
	font-size: 18px;
  	color: #000;
	font-family: "Zen Maru Gothic", serif;
	font-weight: 500;
}

input:hover {
	background-color: #f9876f;
}

.no {
	border-left: 1px solid #000;
}

p {
	color: #000;
	font-family: "Zen Maru Gothic", serif;
	font-weight: 500;
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 1.5px;
}

a {
	text-decoration: none;
	font-size: 20px;
	color: #000;
	font-family: "Zen Maru Gothic", serif;
	font-weight: 500;
}
button {
	background-color: #4CAF50;
	padding: 10px 45px;
	text-align: center;
	display: inline-block;
	border : none;
	border-radius: 30px;
	font-size: 18px;
	transition: .2s;
}

button:hover {
	background-color: #f9876f;
	transform: scale(1.1,1.1);
}

