@charset "UTF-8";



/*.zen-maru-gothic-medium {*/
/*  font-family: "Zen Maru Gothic", serif;*/
/*  font-weight: 500;*/
/*  font-style: normal;*/
/*}*/

/*.zen-maru-gothic-bold {*/
/*  font-family: "Zen Maru Gothic", serif;*/
/*  font-weight: 700;*/
/*  font-style: normal;*/
/*}*/



body {
	height: 960px;
	width: auto;
	text-align: center;
	margin: 100px auto;
	background-color: rgb(247, 244, 172);
	}
	
h1 {
	font-family: "Zen Maru Gothic", serif;
	font-weight: 700;
	font-style: normal;
	font-size: 50px;
	padding-top: 50px;
}
table {
	margin: 0 auto;
}

td {
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
	padding: 10px 30px;
}

.no {
	border-left: 1px solid #000;
}

a {
	text-decoration: none;
	margin : 100px;
	font-size: 20px;
	color: #000;
	font-family: "Zen Maru Gothic", serif;
	font-weight: 500;
}

button {
	background-color: #4CAF50;
	padding: 10px 0px;
	text-align: center;
	display: inline-block;
	margin: 30px 10px;
	border : none;
	border-radius: 50px;
	transition: .2s;
}

button:hover {
	background-color: #f9876f;
	transform: scale(1.1,1.1);
}

