@charset "UTF-8";

/*.zen-maru-gothic-medium {*/
/*  font-family: "Zen Maru Gothic", serif;*/
/*  font-weight: 500;*/
/*  font-style: normal;*/
/*}*/

/*.zen-maru-gothic-bold {*/
/*  font-family: "Zen Maru Gothic", serif;*/
/*  font-weight: 700;*/
/*  font-style: normal;*/
/*}*/

/*.zen-maru-gothic-regular {*/
/*  font-family: "Zen Maru Gothic", serif;*/
/*  font-weight: 400;*/
/*  font-style: normal;*/
/*}*/

/*背景 #F7F4AC*/
/*buttonメイン #FF8616*/
/*buttonサブ #FF6A16*/
/*top #9FE446*/
/*topサブ #74BB2C*/

body {
	height: 960px;
	width: auto;
	text-align: center;
	margin: 50px auto;
	background-color: #F7F4AC;
	}

header {
	text-align: left;
	margin-left: 10%;
}

header a {
	text-decoration: none;
	font-family: "Zen Maru Gothic", serif;
	font-weight: 500;
	font-style: normal;
	color: #FFF;
}

#top {
	background-color: #9FE446;
	color: #FFF;
	font-family: "Zen Maru Gothic", serif;
	font-weight: 500;
}

#top:hover {
	background-color: #74BB2C;
}
	
h1 {
	font-family: "Zen Maru Gothic", serif;
	font-weight: 700;
	font-style: normal;
	font-size: 50px;
}

table {
	margin: 0 auto;
	color: #000;
	font-family: "Zen Maru Gothic", serif;
	font-weight: 500;
}

.pointer {
	cursor: default;
}

#hyou {
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
	padding: 10px 30px;
}

input {
	background-color: #FF8616;
	padding: 8px 30px;
	text-align: center;
	display: inline-block;
	margin: 10px 10px;
	border : none;
	border-radius: 30px;
	font-size: 18px;
  	color: #FFF;
	font-family: "Zen Maru Gothic", serif;
	font-weight: 500;
}

input:hover {
	background-color: #FF6A16;
}

.no {
	border-left: 1px solid #000;
}

p {
	color: #000;
	font-family: "Zen Maru Gothic", serif;
	font-weight: 500;
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 1.5px;
}

a {
	text-decoration: none;
	font-size: 20px;
	color: #FFF;
	font-family: "Zen Maru Gothic", serif;
	font-weight: 500;
}
button {
	background-color: #FF8616;
	padding: 10px 45px;
	text-align: center;
	display: inline-block;
	border : none;
	border-radius: 30px;
	font-size: 18px;
	transition: .1s;
	color: #FFF;
}

button:hover {
	background-color: #FF6A16;
	transform: scale(0.96,0.96);
}

