<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>内容確認</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" th:href="@{/confirm.css}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@500;700&display=swap" rel="stylesheet">
</head>

<header>
	<button id="top"><a href="../index.html" th:href="@{/kakeibo}">TOP</a></button>
</header>

<body>
	<h1><span th:text="${title}"></span></h1>
	
	<div th:object="${form}">
		<p>この内容で登録します。
		<br>よろしいですか？</p>
		<p th:text="'日付：' + *{date}"></p>
		<p th:text="'メモ：' + *{naiyou}"></p>
		<p th:text="'支出金額：' +*{yen}">円</p>

		<div class="form">
		<form method="get" action="#" th:action="@{/form}">
			<input type="hidden" name="date" th:value="*{date}">
			<input type="hidden" name="naiyou" th:value="*{naiyou}">
			<input type="hidden" name="yen" th:value="*{yen}">
			<input class="button" type="submit" value="戻る">
		</form>
		
		<form method="get" action="#" th:action="@{/complete}">
			<input type="hidden" name="date" th:value="*{date}">
			<input type="hidden" name="naiyou" th:value="*{naiyou}">
			<input type="hidden" name="yen" th:value="*{yen}">
			<input class="button" type="submit" value="登録する">
		</form>
		</div>
	</div>
</body>
</html>