<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Hello</title>
	<meta charset="utf-8" />
</head>
<body>
	<h1><span th:text="${title}"></span></h1>
	
	<div th:object="${form}">
		<p>この内容で登録します。</p>
		<p>よろしいですか？</p>
		<p th:text="*{date}"></p>
		<p th:text="*{naiyou}"></p>
		<p th:text="*{yen}"></p>

		
		<form method="get" action="#" th:action="@{/form}">
			<input type="hidden" name="date" th:value="*{date}">
			<input type="hidden" name="naiyou" th:value="*{naiyou}">]
			<input type="hidden" name="yen" th:value="*{yen}">
			<input type="submit" value="戻る">
		</form>
		
		<form method="get" action="#" th:action="@{/complete}">
			<input type="hidden" name="date" th:value="*{date}">
			<input type="hidden" name="naiyou" th:value="*{naiyou}">]
			<input type="hidden" name="yen" th:value="*{yen}">
			<input type="submit" value="登録する">		
		</form>
	</div>
</body>
</html>