<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Hello</title>
	<meta charset="utf-8" />
</head>
<body>
	<h1><span th:text="${title}"></span></h1>
	
	<div th:object="${form}">
		<p>入力内容ここから</p>
		<p th:text="*{name1}"></p>
		<p th:text="*{age}"></p>
		<p>入力内容ここまで</p>
		
		<form method="get" action="#" th:action="@{/form}">
			<input type="hidden" name="name1" th:value="*{name1}">
			<input type="hidden" name="age" th:value="*{age}">
			<input type="submit" value="入力画面へ">
		</form>
		
		<form method="get" action="#" th:action="@{/view}">
			<input type="hidden" name="name1" th:value="*{name1}">
			<input type="hidden" name="age" th:value="*{age}">
			<input type="submit" value="完了画面へ">
			
		</form>
	</div>
</body>
</html>