<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>内容修正</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" th:href="@{/edit.css}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@500;700&display=swap" rel="stylesheet">
</head>

<header>
	<button id="top"><a href="../index.html" th:href="@{/kakeibo}">TOP</a></button>
</header>

<body>
	<h1 th:text="${title}"></h1>
	<p class="error" th:text="${errortitle}"></p>
	<div th:object="${form}">
		
		<form action="#" method="get" th:action="@{/edit/__*{id}__/exe}">
			<p>日付: <input type="date" name="date" th:value="*{date}"></p>
			<p>メモ: <input type="text" name="naiyou" th:value="*{naiyou}" placeholder="（例）食事代"></p>
			<p>支出金額: <input type="text" name="yen" th:value="*{yen}" placeholder="（例）2000">円</p>
			<input class="button" type="submit" value="更新">
		</form>
		
		<form action="#" method="get" th:action="@{/view}">
			<input class="button" type="submit" value="戻る">
		</form>
				
	</div>
</body>
</html>