<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>新規作成</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" th:href="@{/input.css}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@500;700&display=swap" rel="stylesheet">
</head>

<header>
	<button id="top"><a href="../index.html" th:href="@{/kakeibo}">TOP</a></button>
</header>

<body>
	<h1 th:text="${title}"></h1>
	<p th:text="${errortitle}"></p>
		<form method="get" action="#" th:action="@{/confirm}">
			<p>日付 :<input id="textbox" type="date" name="date"></p>
			<p>メモ :<input id="textbox" type="text" name="naiyou" placeholder="（例）食事代"></p>
			<p>支出金額 :<input id="textbox" type="text" name="yen" placeholder="（例）2000">円</p>
			<input class="button" type="submit" value="入力内容の確認へ">
		</form>
</body>
</html>