<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Hello</title>
<meta charset="utf-8" />
<link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
	<h1 th:text="${title}"></h1>
	<table>
		<tr>
			<th>No.</th>
			<th>日付</th>
			<th>内容</th>
			<th>金額</th>
			<th></th>
			<th></th>
		</tr>
		<tr th:each="res : ${dbList}">
			<td th:text="${res.id}">1</td>
			<td th:text="${res.date}">日付</td>
			<td th:text="${res.naiyou}">内容</td>
			<td th:text="${res.yen}">金額</td>
			<td>
				<form th:action="@{/edit/{id}(id=${res.id})}">
					<input type="submit" value="編集">
				</form>
			</td>
			<td>
				<form th:action="@{/del/{id}(id=${res.id})}">
					<input type="submit" value="削除" />
				</form>
			</td>
		</tr>
	</table>
	<p>
		<a href="/form" th:href="@{/form}">新規作成へ</a>
	</p>
</body>
</html>